#include "quikflik.h"

#include <icconst.h>

BITMAP PLAY_BITMAP_ID           SPLAY0.BMP
BITMAP PAUSE_BITMAP_ID          SPAUSE.BMP
BITMAP QMLOGO_BITMAP_ID         QUICKMO.BMP
BITMAP QFLOGO_BITMAP_ID         QFSMBUTT.BMP
POINTER OPENHAND_ID             OPENHAND.PTR
POINTER PULLHAND_ID             PULLHAND.PTR
POINTER SPINARROWS_ID           SPINARRO.PTR
POINTER SPINHAND_ID             SPINHAND.PTR
POINTER ZOOM_ID                 ZOOM.PTR
POINTER HOTHAND_ID              HOTHAND.PTR

MENU MOTION_POPUP_ID
BEGIN
  MENUITEM "Save as...", MI_MOTION_SAVEAS
END

MENU WORLD_POPUP_ID
BEGIN
  MENUITEM "Save as...", MI_WORLD_SAVEAS
  MENUITEM "Save frame as...", MI_WORLD_CAPTUREFRAME
  MENUITEM SEPARATOR
  MENUITEM "Copy frame\tCtrl+Insert", MI_WORLD_COPY
  MENUITEM SEPARATOR
  MENUITEM "Turn left 90ø\tL", MI_WORLD_LEFT90
  MENUITEM "Turn right 90ø\tR", MI_WORLD_RIGHT90
  MENUITEM "Turn around 180ø\tA", MI_WORLD_TURNAROUND180
END

DLGTEMPLATE PROPERTIES_ID LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "QuickFlick Properties", PROPERTIES_ID, 0, -92, 120, 92,
            FS_MOUSEALIGN | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
            PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        AUTOCHECKBOX    "Show First Frame ASAP", CUE_DURING_PREP_ID, 4, 76,
                        112, 10
        GROUPBOX        "Load Non-Embedded Movies", NONEMBEDDED_ID, 4, 28, 112,
                        47
        AUTORADIOBUTTON "Centered On Page", CENTER_ID, 8, 56, 104, 10,
                        WS_TABSTOP
        AUTORADIOBUTTON "Fill Page", FILL_ID, 8, 44, 104, 10, WS_TABSTOP
        AUTORADIOBUTTON "Detatched From Page", DETATCH_ID, 8, 32, 104, 10,
                        WS_TABSTOP
        DEFPUSHBUTTON   "Ok", DID_OK, 4, 4, 40, 12, WS_GROUP
        PUSHBUTTON      "Cancel", DID_CANCEL, 48, 4, 40, 12
    END
END


